body{
    background-color: blueviolet;
}

.main{
    display: grid;
    height: 45vw;
    width: 45vw;
    float: left;
    box-sizing: content-box;
    border: 1px rgba(0, 0, 0, 0.404) solid;
    margin-right: 1rem;
  }

.cell {
    border: 1px rgba(0, 0, 0, 0.041) solid;
    background-color: rgba(255, 255, 255, 1);
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}